
  <div class="form-group">
    <label for="car-name">Car name</label>
    <input type="text" 
    class="form-control" 
    id="car-name" 
    [(ngModel)]="carName"  
    placeholder="Enter car-name">
  </div>
  <div class="form-group">
    <label for="car-model">Car model</label>
    <input type="text" 
    class="form-control" 
    id="car-model" 
    [(ngModel)]="carModel"
    placeholder="car-model ">
  </div>

  <button type="button" class="btn btn-outline-primary" (click)="onAdd()">Add</button>
  <button type="button" class="btn btn-outline-primary" (click)="onLoad()">Load</button>